
<div class="panel panel-default">
  <table class="table">
    <%= render @contacts %>
  </table>
</div>

<% if @contacts.blank? %>
  <div class="panel-footer message">
    <div class="alert alert-warning">
      <strong>Record not found</strong>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= paginate @contacts %>
</div>